body{
    background-color:#efefef;
}
.centralized{
    display:table;
    margin: 0 auto;
}
.centralizer{
    width: 100%;
}

#coat-of-arms{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:20%;  
}